{% extends 'paginaV3_app/base.html' %}
{% load static %}
{% block title %}Contáctanos{% endblock title %}


{% block main-content %}
    <div class="container">
        <div class="row my-4">
            <div class="col-sm-3 offset-sm-5">
                <h2>Contáctanos</h2>
                <br>
            </div>
            <div class="col-md-6 offset-sm-3" style="text-align:center;">
                {% if mensaje %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{mensaje}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <form action="" method="post" novalidate class="shadow p-5">
                    {% csrf_token %}
                    {% for fm in form %}
                        {{ fm.label_tag }} {{ fm }} <small class="text-danger" >{{ fm.errors|striptags }}</small>
                        <br>
                    {% endfor %}
                    <input type="submit" value="Enviar" class="btn btn-success">
                    <br>
                </form>
            </div>
            
        </div>
    </div>
{% endblock main-content %}