{% extends 'paginaV3_app/base.html' %}
{% load static %}

{% block title %}{{ producto.titulo }}{% endblock title %}

{% block main-content %}
    <div class="container">
        <div class="row flex justify-content-between">
            <div class="img2 col-lg-6 mt-5">
                <img src="{{ producto.prod_imagen.url }}" class="imagen col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center" width="200">
            </div>
            <div class="detalleproducto col-lg-5 mt-lg-5">
                <h1>{{ producto.titulo }}</h1>
                <h4>${{ producto.precio }}</h4>
                <div class="button row flex">
                {% if user.is_authenticated %}
                    <div class="button row flex">   
                        <form action="{% url 'añadir_al_carrito' prod_id=producto.id %}">
                            <button id="añadir-carrito" data-product-id="{{ producto.id }}" type="submit" class="d-grid gap-2 btn1 btn btn-danger p-1 m-1 btn-large text-decoration-none text-white">Añadir al Carrito</button>
                            <a href="{% url 'mostrar_carrito' %}" class="btn btn-danger p-1 m-1 btn-large text-decoration-none text-white">Ir al Carrito</a>
                        </form>
                    </div>
                {% else %}
                    <div class="button row flex">   
                        <h5>Ingresa a tu cuenta para comprar</h5>
                    </div>
                {% endif %}
                </div>
                <br>
                <p>{{ producto.descripcion }}</p>
            </div>
        </div>
    </div>
{% endblock main-content %}