{% extends 'paginaV3_app/base.html' %}
{% load static %}

{% block title %}Registro Usuario{% endblock title %}

{% block main-content %}
    <div class="container">
        <div class="row my-4">
            <div class="col-sm-3 offset-sm-5">
                <h2>Registro</h2>
                <br>
            </div>
            <div class="col-md-6 offset-sm-3" style="text-align:center;">
                <form action="" method="post" novalidate class="shadow p-5">
                    {% csrf_token %}
                    {% for fm in form %}
                        {{ fm.label_tag }} {{ fm }} <small class="text-danger" >{{ fm.errors|striptags }}</small>
                        <br>
                    {% endfor %}
                    <input type="submit" value="registrar" class="btn btn-primary">
                    <br>
                    <div class="text-center text-primary fw-bold"><small> Ya tienes cuenta?<a href="{% url 'login' %}" class="text-danger">Ingresa Ahora!</a></small></div>
                </form>
            </div>
            
        </div>
    </div>
{% endblock main-content %}